<html lang="en" oncontextmenu="return false;">
    <head>
        <!--Meta-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lorem ipsum</title> <!--Title here-->
        <meta name="description" content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad doloremque aut similique ab repudiandae excepturi, velit voluptatem dolore illo nam!">
        <meta name="keywords" content="lorem, ipsum">
        <!--Import CSS-->
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/blog.css">
        <!--Favicons (dont change)-->
        <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
        <link rel="manifest" href="../assets/img/site.webmanifest">
        <script src="../assets/js/app.js"></script>
        <noscript><style>body {background-color: white;}div:not(#noscript) {display: none;}</style><div id="noscript"><p>You might have turned off Javascript in your browser. This Site is mostly able to function without it, but some features will break down. We encourage you to switch it on.</p><a href="https://www.enable-javascript.com/">Learn more about how to enable Javascript in your browser.</a></div></noscript>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8QSCMS15RR"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-8QSCMS15RR');</script>
        <script>function googleTranslateElementInit(){new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages:'en,zh-CN,zh-TW,es,pt,ru,ja,ko,fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, }, 'gtranslate');}</script>  
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>    </head>
    <header>
        <div class="navbar">
            <a href="../blog.html">Blog</a>
            <a href="../index.html">Home</a>
        </div>
        <div class="navheader">
            <h1>Lorem ipsum</h1>
        </div>
    </header>
    <body>
        <div class="blog">
            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur aperiam voluptatum hic quidem eius aliquam commodi necessitatibus assumenda accusantium beatae.</p>
            </div>
        </div>
    </body>
    <footer>
        <!--NavFooter-->
        <div class="navfooter">
            <p>We are <a href="https://github.com/IceBearBots/icebearbots.github.io" target="_blank">open source</a> (´・ω・｀) and you may <a href="mailto:icey.ggjt@gmail.com" target="_blank">contact us</a> if there's any queries.</p>
            <a class="navshare" id="navshare">Share Page</a>
            <a class="navshare" id="privacyopen">Privacy Policy</a>
            <div style="display: inline-block;" id="gtranslate"></div>

        </div>
        
    </footer>
</html>
